/* Button Maker Mixin */
@mixin border-radius($bd-radius) {
  border-radius: $bd-radius;
}

/* Section Maker Mixin */
@mixin section($className) {
  .#{$className} {
    background-color: $second-primary;
    top: 83px;
    position: relative;
    .about-content {
      h4 {
        text-transform: capitalize;
        font-size: 45px;
        font-weight: 700;
        color: $black-heading;
        line-height: 60px;
      }
      p {
        font-size: 20px;
        margin: 15px 0 25px 0;
        color: $gray-subheading;
      }
      .bttn {
        @include border-radius(3px);
      }
      .bttn-primary {
        background-color: $btn-blue;
        transition: 0.3s;
        &:hover {
          background-color: $btn-bg-hover;
        }
      }
    }
    .about-image {
      position: relative;
      z-index: 1;
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $bg-overlay;
        opacity: 0.6;
        z-index: 1;
      }
      img {
        width: 100%;
      }
      .about-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 2;
        a {
          display: inline-block;
          i {
            color: $icon-color-white;
            font-size: 80px;
            transition: 0.3s;
            &:hover {
              color: $icon-color-hover;
            }
          }
        }
      }
      .about-shape {
        background-color: $blue-shape;
        width: 200px;
        height: 180px;
        top: 100%;
        transform: translateY(-90%);
        left: -20px;
        position: absolute;
        z-index: -1;
      }
    }
  }
}
