/* Colors Variables */
$bg-header: #daac00;
$primary-color: #fcc302;
$bg-overlay: #ffc814;
$btn-primary: #00bec9;
$btn-warning: #fcc302;
$btn-hover: #313243;
$black-heading: #313243;
$white-heading: #ffffff;
$link-color: #ffffff;
$link-hover: #313243;
$gray-subheading: #94949A;
$icon-bg: #daac00;
$shadow: #0000014b;
