.banner-area {
  min-height: 90vh;
  background-color: $primary-color;
  top: 83px;
  position: relative;
  .banner-content {
    h2 {
      text-transform: capitalize;
      font-size: 55px;
      font-weight: 700;
      color: $black-heading;
      line-height: 70px;
    }
    p {
      font-size: 20px;
      font-weight: 600;
      color: $gray-subheading;
      line-height: 30px;
      margin: 15px 0 25px 0;
    }
    .bttn {
      @include border-radius(3px);
    }
    a {
      margin: 0 25px 0 0;
    }
  }
  .banner-image {
    img {
      width: 100%;
    }
  }
}
