.blog-area {
  background-color: $second-primary;
  top: 83px;
  position: relative;
  .single-blog {
    transition: 0.3s;
    &:hover {
      transform: translateY(-10px);
      box-shadow: 4px 4px 8px $shadow;
    }
    .single-image {
      img {
        width: 100%;
      }
    }
    .blog-content {
      background-color: $primary-color;
      border: 1px solid $green-border;
      border-top: 0;
      padding: 25px 30px;
      &:hover {
        a {
          color: $black;
        }
      }
      &.bc {
        border: 0;
      }
      h4 {
        text-transform: capitalize;
        font-size: 24px;
        font-weight: 600;
        color: $black;
      }
      h5 {
        text-transform: uppercase;
        font-size: 13px;
        color: $green;
        font-weight: normal;
        letter-spacing: 1px;
      }
      p {
        font-size: 18px;
        margin: 20px 0;
        color: $gray-subheading;
      }
      a {
        display: inline-block;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 400;
        color: $green;
        transition: 0.3s;
      }
    }
  }
}
