.counter-area {
  padding: 180px 0;
  top: 83px;
  position: relative;
  .single-counter {
    text-align: center;
    color: $white;
    i {
      font-size: 80px;
      margin-bottom: 25px;
    }
    p {
      font-size: 30px;
      font-weight: 500;
      span {
        font-weight: 600;
      }
    }
    h4 {
      text-transform: capitalize;
      font-size: 25px;
    }
  }
}
