.price-area {
  background-color: $primary-color;
  top: 83px;
  position: relative;
  .single-price {
    .pet-image {
      background-color: $second-primary;
      img {
        width: 100%;
        padding: 8px;
      }
    }
    .price-text {
      text-align: center;
      margin-top: 30px;
      h4 {
        color: $black;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
        s {
          padding: 0 10px;
        }
        span {
          padding: 0 10px;
        }
      }
      .bttn {
        padding: 10px 25px;
        @include border-radius(30px);
      }
    }
  }
}
