.section-title {
  h4 {
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 700;
    color: $black-heading;
  }
  p {
    color: $gray-subheading;
    font-size: 18px;
    margin-top: 15px;
  }
}
