.services-area {
  background-color: $primary-color;
  top: 83px;
  position: relative;
  .single-services {
    text-align: center;
    .service-image {
      background-color: $second-primary;
      img {
        width: 100%;
        padding: 6px;
      }
    }
    .service-text {
      margin: 15px 0;
      padding: 15px 20px;
      h4 {
        text-transform: capitalize;
        color: $black-heading;
        font-size: 26px;
        font-weight: 700;
      }
      p {
        color: $gray-subheading;
        font-size: 17px;
      }
    }
  }
}
