/*======================== Responsive Code ======================*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /*Banner Area*/
  .banner-area .banner-content h2 {
    font-size: 50px;
    line-height: 65px;
  }
  .banner-area .banner-content p {
    font-size: 17px;
  }
  /*About Area*/
  .about-area .about-content h4 {
    font-size: 42px;
    line-height: 55px;
  }
  .about-area .about-content p {
    font-size: 18px;
  }
  /*Services Area*/
  .services-area .single-services .service-text h4 {
    font-size: 25px;
  }
  .services-area .single-services .service-text p {
    font-size: 16px;
  }
  /*Care Area*/
  .care-area .about-content h4 {
    font-size: 42px;
    line-height: 55px;
  }
  .care-area .about-content p {
    font-size: 18px;
  }
  /*Counter Area*/
  .counter-area {
    padding: 140px 0;
  }
  .counter-area .single-counter i {
    margin-bottom: 20px;
  }
  .counter-area .single-counter p {
    margin-bottom: 10px;
  }
  /*Blog Area*/
  .blog-area .single-blog .blog-content h4 {
    font-size: 20px;
  }
  .blog-area .single-blog .blog-content h5 {
    font-size: 12px;
  }
  .blog-area .single-blog .blog-content p {
    font-size: 15px;
  }
  .blog-area .single-blog .blog-content a {
    font-size: 16px;
  }
  /*Footer Area*/
  .footer-area .single-footer h4 {
    font-size: 28px;
  }
  .footer-area .single-footer .item-list li a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*Banner Area*/
  .banner-area .banner-content h2 {
    font-size: 33px;
    line-height: 45px;
  }
  .banner-area .banner-content p {
    font-size: 15px;
    line-height: 22px;
  }
  /*About Area*/
  .about-area .about-content h4 {
    font-size: 30px;
    line-height: 40px;
  }
  .about-area .about-content p {
    font-size: 18px;
  }
  /*Services Area*/
  .services-area .section-title h4 {
    font-size: 38px;
  }
  .services-area .section-title p {
    font-size: 16px;
  }
  .services-area .single-services .service-text {
    padding: 15px 10px;
  }
  .services-area .single-services .service-text h4 {
    font-size: 25px;
  }
  .services-area .single-services .service-text p {
    font-size: 16px;
  }
  /*Care Area*/
  .care-area .about-content h4 {
    font-size: 30px;
    line-height: 40px;
  }
  .care-area .about-content p {
    font-size: 18px;
  }
  /*Price Area*/
  .price-area .section-title h4 {
    font-size: 38px;
  }
  .price-area .section-title p {
    font-size: 16px;
  }
  .price-area .single-price .price-text h4 {
    font-size: 25px;
  }
  .price-area .single-price .price-text .bttn {
    padding: 8px 20px;
  }
  /*Team Area*/
  .team-area .section-title h4 {
    font-size: 38px;
  }
  .team-area .section-title p {
    font-size: 16px;
  }
  .team-area .single-team .team-text h4 {
    font-size: 20px;
    line-height: 25px;
  }
  .team-area .single-team .team-text p {
    font-size: 16px;
  }
  /*Counter Area*/
  .counter-area {
    padding: 140px 0;
  }
  .counter-area .single-counter i {
    font-size: 70px;
    margin-bottom: 20px;
  }
  .counter-area .single-counter p {
    font-size: 25px;
    margin-bottom: 10px;
  }
  /*Blog Area*/
  .blog-area .section-title h4 {
    font-size: 38px;
  }
  .blog-area .section-title p {
    font-size: 16px;
  }
  .blog-area .single-blog .blog-content h4 {
    font-size: 14px;
  }
  .blog-area .single-blog .blog-content h5 {
    font-size: 10px;
  }
  .blog-area .single-blog .blog-content p {
    font-size: 12px;
    margin: 12px 0;
  }
  .blog-area .single-blog .blog-content a {
    font-size: 14px;
  }
  /*Contact Area*/
  .contact-area .section-title h4 {
    font-size: 38px;
  }
  .contact-area .section-title p {
    font-size: 16px;
  }
  /*Footer Area*/
  .footer-area .single-footer h4 {
    font-size: 25px;
  }
  .footer-area .single-footer .item-list li a {
    font-size: 15px;
  }
  .footer-area .single-footer p {
    font-size: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /*Banner Area*/
  .banner-area .banner-content h2 {
    font-size: 44px;
    line-height: 58px;
  }
  .banner-area .banner-content p {
    font-size: 18px;
  }
  /*About Area*/
  .about-area .about-content h4 {
    font-size: 42px;
    line-height: 55px;
  }
  .about-area .about-content p {
    font-size: 20px;
  }
  /*Services Area*/
  .services-area .section-title h4 {
    font-size: 38px;
  }
  .services-area .section-title p {
    font-size: 14px;
  }
  .services-area .single-services .service-text {
    padding: 15px 10px;
  }
  .services-area .single-services .service-text h4 {
    font-size: 22px;
  }
  .services-area .single-services .service-text p {
    font-size: 15px;
  }
  /*Care Area*/
  .care-area .about-content h4 {
    font-size: 42px;
    line-height: 55px;
  }
  .care-area .about-content p {
    font-size: 20px;
  }
  /*Price Area*/
  .price-area .section-title h4 {
    font-size: 38px;
  }
  .price-area .section-title p {
    font-size: 14px;
  }
  .price-area .single-price .price-text h4 {
    font-size: 25px;
  }
  .price-area .single-price .price-text .bttn {
    padding: 8px 20px;
  }
  /*Team Area*/
  .team-area .section-title h4 {
    font-size: 38px;
  }
  .team-area .section-title p {
    font-size: 14px;
  }
  /*Counter Area*/
  .counter-area {
    padding: 140px 0;
  }
  .counter-area .single-counter i {
    margin-bottom: 20px;
  }
  .counter-area .single-counter p {
    margin-bottom: 10px;
  }
  /*Blog Area*/
  .blog-area .section-title h4 {
    font-size: 38px;
  }
  .blog-area .section-title p {
    font-size: 14px;
  }
  .blog-area .single-blog .blog-content h4 {
    font-size: 16px;
  }
  .blog-area .single-blog .blog-content h5 {
    font-size: 11px;
  }
  .blog-area .single-blog .blog-content p {
    font-size: 14px;
    margin: 12px 0;
  }
  .blog-area .single-blog .blog-content a {
    font-size: 15px;
  }
  /*Contact Area*/
  .contact-area .section-title h4 {
    font-size: 38px;
  }
  .contact-area .section-title p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 575px) {
  /*Header Area*/
  .header-area .navbar .navbar-brand {
    padding-right: 0;
  }
  /*Banner Area*/
  .banner-area .banner-content {
    text-align: center;
  }
  .banner-area .banner-content h2 {
    font-size: 35px;
    line-height: 50px;
  }
  .banner-area .banner-content p {
    font-size: 16px;
  }
  .banner-area .banner-content .bttn {
    margin-bottom: 25px;
  }
  .banner-area .banner-content .bttn:last-child {
    margin-bottom: 0;
  }
  .banner-area .ex-sm {
    margin-bottom: 60px;
  }
  /*About Area*/
  .about-area .about-content h4 {
    font-size: 25px;
    line-height: 38px;
  }
  .about-area .about-content p {
    font-size: 16px;
  }
  .about-area .ex-sm {
    margin-bottom: 60px;
  }
  /*Services Area*/
  .services-area .section-title h4 {
    font-size: 35px;
  }
  .services-area .section-title p {
    font-size: 14px;
  }
  .services-area .single-services .service-text {
    padding: 15px 10px;
  }
  .services-area .single-services .service-text h4 {
    font-size: 24px;
  }
  .services-area .single-services .service-text p {
    font-size: 16px;
  }
  .services-area .ex-sm {
    margin-bottom: 30px;
  }
  /*Care Area*/
  .care-area .about-content h4 {
    font-size: 25px;
    line-height: 38px;
  }
  .care-area .about-content p {
    font-size: 16px;
  }
  .care-area .ex-sm {
    margin-bottom: 60px;
  }
  /*Price Area*/
  .price-area .section-title h4 {
    font-size: 35px;
  }
  .price-area .section-title p {
    font-size: 14px;
  }
  .price-area .ex-sm {
    margin-bottom: 60px;
  }
  /*Team Area*/
  .team-area .section-title h4 {
    font-size: 35px;
  }
  .team-area .section-title p {
    font-size: 14px;
  }
  .team-area .ex-sm {
    margin-bottom: 60px;
  }
  /*Counter Area*/
  .counter-area {
    padding: 140px 0;
  }
  .counter-area .single-counter i {
    margin-bottom: 20px;
  }
  .counter-area .single-counter p {
    margin-bottom: 10px;
  }
  .counter-area .ex-sm {
    margin-bottom: 60px;
  }
  /*Blog Area*/
  .blog-area .section-title h4 {
    font-size: 35px;
  }
  .blog-area .section-title p {
    font-size: 14px;
  }
  .blog-area .ex-sm {
    margin-bottom: 60px;
  }
  /*Contact Area*/
  .contact-area .section-title h4 {
    font-size: 35px;
  }
  .contact-area .section-title p {
    font-size: 14px;
  }
  .contact-area .ex-sm {
    margin-bottom: 40px;
  }
  /*Footer Area*/
  .footer-area .ex-sm {
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=responsive.css.map */